h1, h2 {
	text-align: center;
	padding-top: 20px;
}

.banner {
	max-width: 100%;
	min-width: 100%;
}

thead{
	color: #FFFFFF;
	background-color:#339966;
}

	.navbar-nav > .active  {
background-color: green !important;
}

.menu{
	background-color:#55bb88;
	color: #ffffff;
	border-radius: 70px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 100px;
	padding-right: 100px;
	margin: 10px;
}

div.menu:hover {
  background-color: #0099ff;
transition: 0.5s;
}

a:link {
  text-decoration: none;
}
