h1, h2 {
  padding-top: 20px;
}

body {
  min-height: 1000px;
}

.banner {
	max-width: 100%;
	min-width: 100%
}

thead{
  color: #FFFFFF;
  background-color:#339966;
}

nav .navbar-nav li a{
  size: 30px;
  color: white !important;
  }
